:root {
    --green: rgba(152,223,122,255);
    --pink: rgb(255, 192, 203);
    --green-light: rgba(152,223,122,.5);
    --off-white: rgb(225,225,223);
    --magenta: rgba(184,51,117,.9);
}

.site-logo {
    max-width: 60px;
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    padding: 0px;
    margin: 0px;
}

.bg-light {
    background-color: var(--pink) !important;
}


.jumbotron {
    background: url("../images/jumbotron.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    margin: auto;
    display: block;
}

.container {
    background-color: var(--magenta);
    color: var(--off-white);
    margin: 0px;
    max-width: 100%;
    text-align: center;
}

.section-title {
    padding: 10px;
    background:var(--green);
    color: var(--off-white);
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.btn {
    background-color: var(--green);
    border: none;
}

.btn:hover {
    background-color: var(--pink);
    border: none;
}

.btn:focus, btn:active, btn:visited {
    background-color: var(--green-light);
}

body {
    background-color: var(--pink);
}

.cardContainer {
    padding: 20px;
}

.card {
    height: 100%;
}